import { ${UpperName}Directive } from './${Name}.directive';

describe('${UpperName}Directive', () => {
  it('should create an instance', () => {
    const directive = new ${UpperName}Directive();
    expect(directive).toBeTruthy();
  });
});
