import { ${UpperName}Pipe } from './${Name}.pipe';

describe('${UpperName}Pipe', () => {
  it('create an instance', () => {
    const pipe = new ${UpperName}Pipe();
    expect(pipe).toBeTruthy();
  });
});
