import { Pipe, PipeTransform } from '@angular/core';

@Pipe({
  name: '${Name}'
})
export class ${UpperName}Pipe implements PipeTransform {

  transform(value: unknown, ...args: unknown[]): unknown {
    return null;
  }

}
