import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-${Name}',
  templateUrl: './${Name}.component.html',
  styleUrls: ['./${Name}.component.${StyleType}']
})
export class ${UpperName}Component implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

}
