import { async, ComponentFixture, TestBed } from '@angular/core/testing';

import { ${UpperName}Component } from './${Name}.component';

describe('${UpperName}Component', () => {
  let component: ${UpperName}Component;
  let fixture: ComponentFixture<${UpperName}Component>;

  beforeEach(async(() => {
    TestBed.configureTestingModule({
      declarations: [ ${UpperName}Component ]
    })
    .compileComponents();
  }));

  beforeEach(() => {
    fixture = TestBed.createComponent(${UpperName}Component);
    component = fixture.componentInstance;
    fixture.detectChanges();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });
});
