import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';

import { ${UpperName}RoutingModule } from './${Name}-routing.module';
import { ${UpperName}Component } from './${Name}.component';

@NgModule({
  declarations: [${UpperName}Component],
  imports: [
    CommonModule,
    ${UpperName}RoutingModule
  ]
})
export class ${UpperName}Module { }
