import { NgModule } from '@angular/core';
import { Routes, RouterModule } from '@angular/router';
import { ${UpperName}Component } from './${Name}.component';

const routes: Routes = [
    {
        path: '',
        component: ${UpperName}Component
    }
];

@NgModule({
  imports: [RouterModule.forChild(routes)],
  exports: [RouterModule]
})
export class ${UpperName}RoutingModule { }
