import { TestBed } from '@angular/core/testing';

import { ${UpperName}Service } from './${Name}.service';

describe('${UpperName}Service', () => {
  let service: ${UpperName}Service;

  beforeEach(() => {
    TestBed.configureTestingModule({});
    service = TestBed.inject(${UpperName}Service);
  });

  it('should be created', () => {
    expect(service).toBeTruthy();
  });
});
