import { TestBed } from '@angular/core/testing';

import { ${ UpperName }Service } from './${Name}.service';

describe('${UpperName}Service', () => {
  beforeEach(() => TestBed.configureTestingModule({}));

  it('should be created', () => {
    const service: ${ UpperName }Service = TestBed.get(${ UpperName }Service);
    expect(service).toBeTruthy();
  });
});
